@import url("https://fonts.googleapis.com/css?family=Overpass");
* {
	box-sizing: border-box;
}

ul#tags{
    background-color: #fff;
}
.tags-input {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	min-height: 48px;
	width: 480px;
	padding: 0 8px;
	border: 1px solid rgb(214, 216, 218);
	border-radius: 6px;
}
i.material-icons{
	margin:5px 5px;
}
i.material-icons:hover{
	cursor: pointer;
}

input {
	flex: 1;
	border: none;
	height: 46px;
	font-size: 17px;
	/* padding: 4px 0 0 0; */
	&:focus {
		outline: transparent;
	}
}
.tags-input:focus-within {
    border: 1px solid #0052cc;
}
#tags {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 8px 0 0 0;
}

.tag {
	width: auto;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	padding: 0 8px;
	font-size: 14px;
	list-style: none;
	border-radius: 6px;
	margin: 0 8px 8px 0;
	background: #0052cc;
	.tag-title {
		margin-top: 3px;
	}
	.tag-close-icon {
		display: block;
		width: 16px;
		height: 16px;
		line-height: 16px;
		text-align: center;
		font-size: 14px;
		margin-left: 8px;
		color: #0052cc;
		border-radius: 50%;
		background: #fff;
		cursor: pointer;
	}
}

@media screen and (max-width: 567px) {
	.tags-input {
		width: calc(100vw - 32px);
	}
}

div.tags-input{
margin: 1rem 2rem 3rem 5%;
}
#save-button:hover {
	background-color: rgb(33, 225, 167);
	color: #fff;
}
#save-button{
	font-size: 1.5vw;
	position: fixed;
	width: 11.5vw;
    height: 7vh;
    bottom: 2.5vh;
    right: 3.5vw;
	border: 1px solid rgb(116, 113, 113);
	background: rgba(255,255,255,0.1);
	color: black;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}