/* @media print {
    body * {
      visibility: hidden;
    }
    .template-two *{
      visibility: visible;
    }
} */
.rExperience-container, .rEducation-container, .rProject-container{
    padding: 0px 20px;
}
.template-two{
    display: flex;
    flex-direction: row;
    padding: 5px;
    max-height: fit-content;
    max-width: fit-content;
    margin: auto;
    width: 60%;
    padding: 10px;
}
.side-bar{
    background-color: bisque;
    word-break: break-word;
    padding: 10px;
}
.side-header{
    font-size: large;
    word-wrap: break-word;
    font-weight: bold;
}
.content-container{
    padding: 0px;
    font-size: xx-small;
}
.separator{
    height: 10px;
    width: 100px;
    background: black;
}
/* .template-2{
    transform: scale(0.5,0.30);
    transform-origin: top left;
    width: fit-content;
    min-width: 500px;
    max-width: 700px;
    min-height: fit-content;
    column-gap: normal;
} */